<form action="/bookadded" method="POST">
    <h3>Anna kirjan tiedot:</h3>
    <table>
        <tr>
            <td>Nimeke</td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>Kirjailja</td>
            <td><input type="text" name="author"></td>
        </tr>
        <tr>
            <td>Kieli</td>
            <td><input type="text" name="book_language"></td>
        </tr>
    </table>
    <input type="submit" value="Lisää kirja luettaviin">
</form>
<hr>
<br>
<a href="/">Palaa etusivulle</a>
