<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Luetut kirjat</title>

{% if session.username %}
  <p>Olet kirjautunut nimellä {{ session.username }}</p>
  <a href="/logout">Kirjaudu ulos</a>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="#">Luetut kirjat</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/index">Etusivu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bookinfo">Kirjainfo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addbook">Lisää kirja</a>
          </li>
        </ul>
      </nav>
    <div class="row">
      <div class="col-6">
        <h4>Lukematta</h4>
        <ul>
            {% for book in db_books %}
                {% if book.completed == False %}
                    <li>
                        <form action="/bookcompleted/{{ book.id }}" method="POST">
                            {{ book.title }}: {{ book.author }} 
                            <input type="submit" value="Merkkaa luetuksi">
                            <input type="hidden" name="id" value="{{ book.id }}">
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href="/addbook">Lisää uusi kirja luettaviin</a>
      </div>
      <div class="col-6">
        <h4>Luetut</h4>
        <ol type="1">
            {% for book in db_books %}
                {% if book.completed == True %}
                    <li>
                      <form action="/book/{{ book.id }}" method="GET">
                        <input type="submit" value="Info"> {{ book.title }}: {{ book.author }}
                        <input type="hidden" name="id" value="{{ book.id }}">
                      </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
      </div>
    </div>
  </div>
  {% else %}
  <form action="/login" method="POST">
  <p>Tunnus:<br>
  <input type="text" name="username"></p>
  <p>Salasana:<br>
  <input type="password" name="password"></p>
  <input type="submit" value="Kirjaudu">
  </form>
{% endif %}
