{% extends "layout.html" %}

{% block body %}

<div class="row">
    <div class="col-5">
      <h5>Lukeminen aloitettu</h5>
      <ul>
        {% for book in db_books %}
          {% if book.reading_started == True %}
            <li>
              <form action="/bookcompleted/{{ book.id }}" method="POST">
                <input type="submit" value="Luettu"> {{ book.title }}, {{ book.author }}
                <input type="hidden" name="id" value="{{ book.id }}">
              </form>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <hr>
      <h5>Lukematta</h5>
      <ol>
        {% for book in db_books %}
          {% if book.reading_started == False and book.reading_completed == False %}
            <li>
              <form action="/bookstarted/{{ book.id }}" method="POST">
                <input type="submit" value="Aloita"> {{ book.title }}, {{ book.author }}
                <input type="hidden" name="id" value="{{ book.id }}">
              </form>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
      <hr>
      <a href="/addbook">Lisää uusi kirja luettaviin</a>
    </div>
    <div class="col-7">
      <h5>Luetut kirjat</h5>
      <ol type="1">
        {% for book in db_books %}
          {% if book.reading_completed == True and book.visible == True %}
            <li>
              <form action="/bookinfo/{{ book.id }}" method="GET">
                <input type="submit" value="Info"> {{ book.title }}, {{ book.author }} ( {{ book.book_language }},
                                                    {% if book.stars > 1 %}
                                                      {{ book.stars }} tähteä
                                                    {% elif book.stars == 1 %}
                                                      {{ book.stars }} tähti
                                                    {% else %}
                                                      ei arvosteltu
                                                    {% endif %})
                <input type="hidden" name="id" value="{{ book.id }}">
              </form>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </div>
</div>

{% endblock %}