<title>Etusivu</title>
<h1>Luetut kirjat 2024</h1>
<hr>

<a href="/addbook">Lisää uusi kirja luettaviin</a>
<hr>

<h4>Luetut:</h4>
<ol type="1">
    {% for book in db_books %}
        {% if book.completed == True %}
            <li>{{ book.author }}: {{ book.title }}</li>
        {% endif %}
    {% endfor %}
</ol>
<hr>

<h4>Lukematta:</h4>
<ul>
    {% for book in db_books %}
        {% if book.completed == False %}
            <li>{{ book.author }}: {{ book.title }}</li>
        {% endif %}
    {% endfor %}
</ul>
