<h2>Haetut kirjat</h2>

{% if count == 0 %}
    <br>
    <p>Kirjoja ei löytynyt.</p>
{% else %}
    <table border="1">
        <tr>
            <th>Nimeke</th>
            <th>Kirjailja</th>
            <th>Status</th>
            <th>Kieli</th>
            <th>Tähtiä</th>
        </tr>
        {% for key, value in searched_books.items() %}
            <tr>
                <td>{{ key[0] }}</td>
                <td>{{ key[1] }}</td>
                <td>{% if value.reading_completed == True %} Luettu
                    {% elif value.reading_started == True %} Aloitettu
                    {% elif value.reading_started == False and value.reading_completed == False %} Ei aloitettu 
                    {% endif %}</td>
                <td>{{ value.book_language }}</td>
                <td align="center">{% if value.stars > 0 %} {{ value.stars }} {% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    
{% endif %}
<hr>
<br>
<a href="/searchbook">Hae uudestaan</a>
<br>
<br>
<a href="/">Palaa etusivulle</a>
