{% extends "layout.html" %}

{% block body %}

<h2>Haetut kirjat</h2>

{% if count == 0 %}
    <br>
    <p>Kirjoja ei löytynyt.</p>
{% else %}
    <table border="1"  style="width:600px">
        <tr>
            <th>Nimeke</th>
            <th>Kirjailja</th>
            <th>Status</th>
            <th>Kieli</th>
            <th align="center">Tähtiä</th>
        </tr>
        {% for key, data in searched_books.items() %}
            <tr>
                <td>{{ key[0] }}</td>
                <td>{{ key[1] }}</td>
                <td>{% if data.reading_started %}Aloitettu
                    {% elif data.reading_completed %}Luettu
                    {% else %}Ei aloitettu
                    {% endif %}
                </td>
                <td>{{ data.book_language }}</td>
                <td align="center">{{ data.stars }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<hr>
<br>
<a href="/searchbook">Hae uudestaan</a>
<br><br>
<a href="/">Palaa etusivulle</a>

{% endblock %}
