{% extends "layout.html" %}

{% block body %}

<h2>Kirjojen haku</h2>
<p>(omista kirjoista)</p>
<br>

<table>
    <tr>
        <form action="/searchauthor" method="GET">
            <td>Hae kirjailijaa: </td>
            <td><input type="text" name="query"> <input type="submit" value="Hae"></td>
        </form>
    </tr>
    <tr>
        <form action="/searchtitle" method="GET">
            <td>Hae kirjaa: </td>
            <td><input type="text" name="query"> <input type="submit" value="Hae"></td>
        </form>
    </tr>
</table>

<hr>
<a href="/">Palaa etusivulle</a>
<br>

{% endblock %}
