<h3>Haetut kirjat</h3>

{% if count == 0 %}
    <p>Kirjailjan kirjoja ei löytynyt.</p>
{% else %}
    <p>Kirjailja: {{ searched_books[0].author }}</p>

    <table border="1">
        <tr>
            <th>Nimeke</th>
            <th>Status</th>
            <th>Kieli</th>
            <th>Tähtiä</th>
        </tr>
        {% for book in searched_books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{% if book.reading_completed == True %} Luettu
                    {% elif book.reading_started == True %} Aloitettu
                    {% elif book.reading_started == False and book.reading_completed == False %} Ei aloitettu 
                    {% endif %}</td>
                <td>{{ book.book_language }}</td>
                <td align="center">{% if book.stars > 0 %} {{ book.stars }} {% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<hr>
<br>
<a href="/">Palaa etusivulle</a>
