<h2>Tilastot</h2>
<hr>

<h4>Minun luetut kirjat</h4>
<table border="1">
    <tr>
        <th>Nimeke</th>
        <th>Kirjailja</th>
        <th>Tähdet</th>
    </tr>
    {% for key, value in my_books.items() %}
        <tr>
            <td>{{ key[0] }}</td>
            <td>{{ key[1] }}</td>
            <td align="center">{{ value.stars }}</td>
        </tr>
    {% endfor %}
</table>

<h4>Kaikki kirjat</h4>
<table border="1">
    <tr>
        <th>Nimeke</th>
        <th>Kirjailja</th>
        <th>Lukijat</th>
        <th>Tähdet</th>
    </tr>
    {% for key, value in all_books.items() %}
            <tr>
                <td>{{ key[0] }}</td>
                <td>{{ key[1] }}</td>
                <td>{{ value.readers_count }} kpl: {{ value.readers }}</td>
                <td align="right">{{ value.average_rating }}</td>
            </tr>
    {% endfor %}
</table>

<hr>
<br>
<a href="/">Palaa etusivulle</a>