{% extends "layout.html" %}

{% block body %}

<h2>Tilastot</h2>
<hr>

<h4>Minun luetut kirjat ({{ my_completed_books }} kpl)</h4>
<table border="1">
    <tr>
        <th>Nimeke</th>
        <th>Kirjailja</th>
        <th>Tähdet</th>
    </tr>
    {% for key, value in my_books.items() %}
        <tr>
            <td>{{ key[0] }}</td>
            <td>{{ key[1] }}</td>
            <td align="center">{{ value.stars }}</td>
        </tr>
    {% endfor %}
</table>
<br>

<!-- Completed books by all readers -->
<h4>Kaikki kirjat</h4>
<table border="1">
    <tr>
        <th>Nimeke</th>
        <th>Kirjailja</th>
        <th>Lukijat</th>
        <th>Tähdet</th>
    </tr>
    {% for title, data in all_books.items() %}
            <tr>
                <td>{{ title }}</td>
                <td>{{ data.author }}</td>
                <td>{{ data.readers_count }} kpl: {{ data.readers }}</td>
                <td align="right">{{ data.average_rating }}</td>
            </tr>
    {% endfor %}
</table>
<hr>
<a href="/">Palaa etusivulle</a>
<br>

{% endblock %}